<!DOCTYPE html>
<html>
<head>
  <title>Mounted engine</title>
  <%= stylesheet_link_tag    "mounted_engine/application", media: "all" %>
  <%= javascript_include_tag "mounted_engine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
